{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}common/tpl.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}wiki/character-wiki.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}wiki/weapon-wiki.css"/>
{{if type!='catalyst'}}<style>.game-gs .icon-box {padding: 0;}.main-icon {width: auto;height: 326px;}</style>{{/if}}

{{/block}}

{{block 'main'}}
<div class="basic game-{{game}}">
  <div class="main">
    <div class="icon-box"><img class="main-icon" src="{{_res_path}}{{gacha}}" /></div>
    <div class="type">
      <img class="type-icon" src="{{_res_path}}{{game === "gs" ? "common/item/atk" : "meta-sr/public/icons/type"}}-{{type}}.webp">
      <div class="type-detail">
        <div class="type-name">{{typeName}}</div>
        <div data-star={{star}} id="type-star" class="star" style="background-image: url('{{_res_path}}meta-sr/public/icons/star-{{game == `gs` ? 5 : star}}.png');background-repeat: repeat-x;background-size: 14px;"></div>
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="weapon-detail">
      <div class="weapon-name">{{name}}</div>
      <div class="base-list">
      {{set baseKey = game === "gs" ? ['atkBase', 'attr'] : ['hp','atk','def'] }}
      {{each baseKey type}}
      <div class="base-attr">
        {{if game === "gs"}}
          <div class="base-name">{{type==="atkBase"?"基础攻击":base[type].key}}</div>
        {{else}}
          <div class="base-icon base-{{type}}"></div>
        {{/if}}
        {{(type == 'attr' ? base[type].value : base[type]) || ''}}
      </div>
      {{/each}}
      </div>
      <div class="weapon-desc">{{@desc}}</div>
    </div>
    <div class="skill-detail">
      <div class="skill-name">{{affixText.name}}</div>
      <div class="skill-desc">{{@affixText.desc}}</div>
    </div>
    
    <div class="material-list">
      {{each materials ds}}
      <div class="material-detail material-{{ds.type}}">
        <div class="num">{{ds.num}}</div>
        <div class="item-card material-card">
          <div class="item-icon star{{ds.star}} opacity-bg">
            <div class="item-bg" style="background-image:url('{{_res_path}}{{ds.icon}}')"></div>
          </div>
          <div class="item-title">{{ds.label}}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>window.onload=function(){document.querySelector("#type-star").style.width=14*document.querySelector("#type-star").dataset.star+'px'}</script>
{{/block}}
