{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/common.css?v=1.0"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/abyss-pct.css?v=1.0"/>
{{/block}}

{{block 'main'}}
<div class="info_box">
  <div class="head-box type{{bgType}}">
    <div class="title">#{{modeName}}使用率</div>
    <div class="label">【#{{modeName}}出场率】出场总数/总记录数</div>
    <div class="label">【#{{modeName}}使用率】出场总数/持有该角色的记录数</div>
    <div class="genshin-logo"></div>
  </div>
  <div class="cont msg-cont">
    <div class="cont-title">
      {{modeName}}使用率统计 {{if version}}<span class="ver-title">{{version}}</span>{{/if}}
      </div>
    <div class="cont-body">
      <ul class="cont-msg">
        {{each tips tip}}
        {{if tip}}<li>{{@tip}}</li>{{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  {{ set levels = { s1: "S+", s: "S", a: "A", b: "B", f: "C" } }}
  {{each ret ds}}
  <div class="info_box_border level_{{ds}}">
    <div class="line_box">{{levels[ds]}}</div>
    <div class="card-list">
      {{each avatars[ds] char}}
      <div class="item star{{char.star == 4? 4:5}}">
        <img class="role" src="{{_res_path}}{{char.face}}"/>
        <div class="num_name">{{char.use_rate}}%</div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
{{/block}}