.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
body,
.container {
  color: #fff;
}
.container {
  padding: 5px 20px;
  background: url(./imgs/challenge/peak/block_bg_top.png) left top no-repeat,
  url(./imgs/challenge/peak/block_bg_mid.png) left center repeat,
  url(./imgs/challenge/peak/block_bg_bottom.png) left bottom no-repeat;
  background-size: contain;
  font-size: 20px;
}
img {
  width: 100%;
  height: 100%;
  mask: linear-gradient(270deg, #c4c4c4 0%, #696969 89.02%, rgba(94, 94, 94, 0) 100%);
}
.avatar-card .card {
  width: 112px;
}
.avatar-card .avatar-face {
  width: 112px;
  height: 112px;
}
.avatar-card .avatar-detail .item {
  width: 51.5px;
  height: 51.5px;
}
.head-box {
  display: flex;
  width: 100%;
}
.head-box .title {
  font-size: 40px;
  padding-bottom: 10px;
  width: 70%;
}
.head-box .title .difficulty {
  font-size: 30px;
  margin-left: 10px;
  color: #d3bc8e;
}
.head-box .uid {
  text-align: right;
  width: 30%;
  padding-top: 25px;
  padding-right: 10px;
  font-size: 24px;
}
.time {
  padding: 0 20px;
  font-size: 18px;
  color: #ffffff;
}
.info_box {
  margin: 20px 0px;
}
.hard-battle-cont {
  display: flex;
  margin: 10px 0;
  padding: 20px 30px;
  width: 100%;
  height: 106px;
  background: url(./imgs/challenge/peak/hard_bg.png) 0 / cover no-repeat;
  border-radius: 5px;
}
.star-left-icon {
  width: 80px;
  height: 80px;
}
.hard-battle {
  display: flex;
  gap: 75px;
}
.star-detail,
.battle-star {
  display: flex;
  align-items: center;
}
.battle-total {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.boss-cont,
.mob-cont {
  position: relative;
  display: flex;
  margin: 20px 0;
  padding: 20px 20px;
  width: 100%;
  height: auto;
  border-top-right-radius: 35px;
  background: url(./imgs/challenge/peak/boss_bg_top.png) left top no-repeat,
  url(./imgs/challenge/peak/boss_bg_mid.png) left center repeat,
  url(./imgs/challenge/peak/boss_bg_bottom.png) left bottom no-repeat;
  background-size: contain;
  flex-direction: column;
  overflow: hidden;
}
.boss-cont::before,
.mob-cont::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 0 35px 0 0;
  border: 1px solid rgba(132, 126, 139, .3);
  z-index: 4;
}
.boss-list,
.buff-body,
.mob-list {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, .04);
  background: rgba(255, 255, 255, 0.04);
}
.boss-list,
.mob-list {
  padding: 15px;
}
.boss-team,
.mob-team  {
  display: flex;
  gap: 2px;
  margin-top: 5px;
}
.boss-name,
.mob-name {
  font-size: 24px;
}
.boss-icon {
  position: absolute;
  width: 147px;
  left: 382px;
  top: -20px;
  mask: linear-gradient(270deg, #c4c4c4 0%, #696969 89.02%, rgba(94, 94, 94, 0) 100%);
}
.boss-record,
.mob-record {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.65);
  margin: 8px 0;
}
.boss-info {
  position: relative;
}
.pass-info {
  display: flex;
  align-items: center;
  height: 28px;
  margin-left: 30px;
}
.pass-info-left {
  height: 28px;
  background: rgba(255, 255, 255, 0.12);
  display: flex;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  align-items: center;
}
.pass-info .status-icon {
  width: 20px;
  height: 20px;
}
.pass-info .status-text {
  font-size: 20px;
  color: #ffd37f;
}
.pass-info .pass-star {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.02);
  padding: 0 calc(3 * var(--gpx));
}
.buff-body img {
  width: 35px;
  margin-right: 7px;
  border-radius: 50%;
  border: .5px solid rgba(255, 255, 255, 0.48);
}
.buff-body {margin-top: 10px;padding: 12px;}
.buff-body ul {
  display: flex;
  gap: 11px;
  list-style-position: inside;
  flex-direction: column;
}
.buff-body ul li {
  display: flex;
  font-size: 15px;
  align-items: center;
}
.mob-cont {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  padding: 20px 20px;
  background: url(./imgs/challenge/peak/mob_bg_top.png) left top no-repeat,
  url(./imgs/challenge/peak/mob_bg_mid.png) left center repeat,
  url(./imgs/challenge/peak/mob_bg_bottom.png) left bottom no-repeat;
  background-size: contain;
  flex-direction: column;
}
.mob-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob-cont .line {
  background: rgba(255, 255, 255, .04);
  height: 2px;
  margin: 8px 0 8px;
}